<footer>
    <% const date = new Date() %>
    <% let year = date.getFullYear() %>
  <p style="color:rgb(139, 244, 244)"> <strong>&copy; Hridesh <%= year %> | All Rights Reserved</strong> </p>  
</footer>