<head>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <h1 style="text-align: center;text-decoration:underline;line-height:50px">Welcome to random names generator</h1>
    <h2 style="text-align: center;color:rgb(153, 48, 252)"> <strong>Voilà! Your generated name is : </strong> </h2>
   
</body>