<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Names</title>
    <%- include("./partials/header.ejs") %>
</head>
<body>
    <% if(locals.keyAdj && locals.keyNoun) { %>
        <h1 style="color:rgb(243, 100, 48);text-align:center;text-shadow:0px 4px 20px rgb(11, 11, 11);"><%=  keyAdj + keyNoun %></h1>
   <% } else { %>
    
      <h1> Something went wrong! </h1> 
  <% } %>
  
  <br>
    <form action = "/submit" method = "POST">
        <input id="btnn" style="display:block;margin-left:auto;margin-right:auto; border:2px solid black;border-radius:8%" type = "submit" value = "Get name &rarr;">
      </form> 

      <script>

        document.getElementById("btnn").classList.add("btn-click");
         setTimeout(() => { 
          document.getElementById("btnn").classList.remove("btn-click");
      },100); 
      
    </script>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

  <%- include("./partials/footer.ejs") %>
</body>
</html>